<nav class="d-flex bg-color navbar-expand-lg">
  <button type="button" class="btn btn-primary" (click)="back()">Back</button>
</nav>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="filterModalLabel">Filtering Details</h5>
    </div>

    <form #form="ngForm" (ngSubmit)="form.valid && onSearch()">
      <div class="modal-body">
        <div class="mb-3">
          <label for="ward" class="form-label">Ward</label>
          <input type="text" id="ward" class="form-control" #ward="ngModel" [(ngModel)]="filters.ward" name="ward" placeholder="Enter ward" >
        </div>

        <div class="mb-3">
          <label for="lbody" class="form-label">Local Body</label>
          <input type="text" id="lbody" class="form-control" #lbody="ngModel"  [(ngModel)]="filters.lbody" name="lbody" placeholder="Enter local body">
        </div>
        <div class="mb-3">
          <label for="station" class="form-label">Station</label>
          <select id="station" class="form-select" #station="ngModel"  [(ngModel)]="filters.station" name="station">
            <option value="">-- Select Station --</option>
            <option *ngFor="let station of stationList" [value]="station">
              {{ station }}
            </option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onclear()">Clear</button>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</div>
