<nav class="d-flex p-2 bg-light border-bottom">
  <button type="button" (click)="back()" class="btn btn-primary">BACK</button>
</nav>
<div class="col-md-6">
  <label for="method" class="form-label">Select a method</label>
  <div class="input-group">
    <select id="method" name="method" class="form-select" required [(ngModel)]="selectedMethod">
      <option value="">-- none --</option>
      <option value="Excel">Excel entry</option>
      <option value="Normal">Normal entry</option>
    </select>
  </div>
</div>

<!-- Show this only if Excel entry is selected -->
<div class="container" *ngIf="selectedMethod === 'Excel'">
  <h2>Upload Excel File</h2>
  <form (ngSubmit)="onsubmit()">
    <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" />
    <button type="submit" class="btn-primary">SUBMIT</button>
  </form>

  <div *ngIf="jsonData.length">
    <h3>Parsed JSON Data</h3>
    <pre>{{ jsonData | json }}</pre>
  </div>
</div>

<div class="container" *ngIf="selectedMethod === 'Normal'">

<div class="container mt-4">
  <form #form="ngForm" (ngSubmit)="form.valid&&addEntry(form)">
    <div class="row">
      <div class="col-md-6">
        <div>
             <label for="name" class="form-label">Ward</label>
             <input type="text" id="ward" name="ward" class="form-control" required #ward="ngModel" [(ngModel)]="filters.ward">
             <label class="text-danger" *ngIf="form.submitted&&ward.errors?.['required']">*mandatory</label>
        </div>
        <div>
             <label for="lbody" class="form-label">Local Body</label>
             <input type="text" id="lbody" name="lbody" class="form-control" required #lbody="ngModel" [(ngModel)]="filters.lbody">
             <label class="text-danger" *ngIf="form.submitted&&lbody.errors?.['required']">*mandatory</label>
        </div>
        <div>
             <label for="name" class="form-label">Name</label>
             <input type="text" id="name" name="name" class="form-control" required #name="ngModel" [(ngModel)]="filters.name">
             <label class="text-danger" *ngIf="form.submitted&&name.errors?.['required']">*mandatory</label>
        </div>
        <div>
             <label for="gname" class="form-label">Guardian Name</label>
             <input type="text" id="gname" name="gname" class="form-control" required #gname="ngModel" [(ngModel)]="filters.gname">
             <label class="text-danger" *ngIf="form.submitted&&gname.errors?.['required']">*mandatory</label>
        </div>
        <div>
             <label for="gage" class="form-label">Gender and Age</label>
             <input type="text" id="gage" name="gage" class="form-control" required #gage="ngModel" [(ngModel)]="filters.gage">
             <label class="text-danger" *ngIf="form.submitted&&gage.errors?.['required']">*mandatory</label>
        </div>
      </div>

      <div class="col-md-6">
        <label for="station" class="form-label">Polling station</label>
        <div class="input-group">
            <select id="station" name="station" class="form-select" required #station="ngModel" [(ngModel)]="filters.station">
                 <option value="">-- Select Station --</option>
                 <option value="Astation">Polling Station A</option>
                 <option value="Bstation">Polling Station B</option>
             </select>
             <label class="text-danger" *ngIf="form.submitted&&station.errors?.['required']">*mandatory</label>
        </div>
         <div>
             <label for="idno" class="form-label">ID Card No</label>
             <input type="text" id="idno" name="idno" class="form-control" required #idno="ngModel" [(ngModel)]="filters.idno">
             <label class="text-danger" *ngIf="form.submitted&&idno.errors?.['required']">*mandatory</label>
        </div>
        <div>
             <label for="hno" class="form-label">House No</label>
             <input type="text" id="hno" name="hno" class="form-control" required #hno="ngModel" [(ngModel)]="filters.hno">
             <label class="text-danger" *ngIf="form.submitted&&hno.errors?.['required']">*mandatory</label>
        </div>
        <div>
             <label for="hname" class="form-label">House Name</label>
             <input type="text" id="hname" name="hname" class="form-control" required #hname="ngModel" [(ngModel)]="filters.hname">
             <label class="text-danger" *ngIf="form.submitted&&hname.errors?.['required']">*mandatory</label>
        </div>
         <div class="row mt-5">
      <div class="col-md-10 d-flex align-items-end">
        <button class="btn btn-primary me-2" type="submit">Submit</button>
      </div>
      <div class="d-flex">
            <button class="btn btn-secondary ms-auto" type="button" (click)="clearForm(form)">Clear</button>
    </div>
    </div>
      </div> 
    </div>

  </form>

</div>

</div>
