<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h5>ID Card Number: {{ cardId }}</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">User Details</h5>
       <h6>Name           : {{name}}</h6>
       <h6>Guardian Name  : {{gname}}</h6>
       <h6>House No       : {{houseno}}</h6>
       <h6>House Name     : {{house}}</h6>
       <h6>Gender         : {{gender}}</h6>
       <h6>Age            : {{Age}}</h6>
      <button (click)="back()" class="btn btn-primary">Back</button>
    </div>
  </div>
</div>
